<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-5">
          <a class="navbar-brand" href="/employees">Employee</a>
        </div>
        <div class="col-6">
      		<a class="navbar-brand" href="/customers">Customer</a>
        </div>
    </div>	
  </div>
 
</nav>
<ul>
	<% @employees.each do |t| %>
		<li>
		  <%= link_to t.name ,t %>
		</li>
	<% end %>
</ul>

<%= link_to "Add New Employee",new_employee_path %>
<br>
<br>
<%= link_to "Back to Lotus Application Home page ",root_path%>